{
    "printWidth": 100,
    "tabWidth": 3,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}